%drag_icon {
  content: "\e600"
}

%reset_icon {
  content: "\e601"
}

%arrowup_icon {
  content: "\e602"
}

%arrowdown_icon {
  content: "\e603"
}

%remove_icon {
  content: "\e604"
}

%copy_icon {
  content: "\e605"
}

%check_icon {
  content: "\e606"
}

%tools_icon {
  content: "\e607"
}

%cart_icon {
  content: "\e608"
}

%doc_icon {
  content: "\e609"
}

%info_icon {
  content: "\e60a"
}
