%drag_icon {
  content: "\e600"
}

%repeat_icon {
  content: "\e601"
}

%arrowup_icon {
  content: "\e602"
}

%arrowdown_icon {
  content: "\e603"
}

%remove_icon {
  content: "\e604"
}

%copy_icon {
  content: "\e605"
}
