.psgDiv {
  margin: 0 auto;
  @include lato;
  @include scale(margin-top, 60px);
  @include scale(max-width, 1024px);
  position: relative;
}

.psgTable {
  border: 2px solid #e3e4e8;
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: fixed;
  width: 100%;

  th, td {
    border: 1px solid #e3e4e8;
    @include scale(padding, 10px);
    @include scale(width, 150px);
  }

  th {
    border-bottom: 2px solid #e3e4e8;
    background: #bec6cb;
    position: relative;
    @include scale(padding-bottom, 40px);
    @include scale(padding-top, 70px);
  }

  tr {
    &:nth-child(2n + 1) td{
      background: #eaeff2;
    }
    &:nth-child(2n) td{
      background: #fff;
    }
  }
  th:first-child, td:first-child {
    @include scale(width, 195px);
    @include scale(padding, 0 14px 14px);
  }

  .order {
    text-align: center;
  }
}




/* rangeSlider */
.ngrs-handle.ngrs-handle-min,
.ngrs-handle.ngrs-handle-max {
  left: auto !important;
}

.ngrs-handle.ngrs-handle-max {

}

.ngrs-join {
  left: 50% !important;
  right: 50% !important;
}

/* Dragble */
.draghandle {
  cursor: move;
  height: 30px;
  position: absolute;
  top: 0;
  width: 90%;
}

/* Remove Facet */
.removeFacet {
  cursor: delete;
  height: 30px;
  position: absolute;
  top: 30px;
  width: 90%;
}
/* ------ psgFacets ------- */
.psgFacets {
  padding-bottom: 20px;
  .column {
    border: 1px solid #000;
    background: #ccc;
    display: inline-block;
    vertical-align: top;

    ul {
      height: 200px;
      list-style-type: none;
      padding: 10px 30px;
      width: 150px;
    }

    li {
      cursor: pointer;
    }
  }
}


/* Scrollable */
.psgPreTable {
  .scrollable {
    position: relative;
    overflow: scroll;
    .psgTable {
      margin-left: 151px;
      th, td {
        width: 250px;
        height: 100px;

        &:first-child {
          background: #fff;
          left: 0;
          margin: 0;
          padding: 0;
          position: absolute;
          width: 150px;
        }
      }

      th:first-child {
        background: #ccc;
      }
    }
  }

}




/* RangeSlider */
.ngrs-range-slider .ngrs-runner,
.ngrs-range-slider .ngrs-handle,
.ngrs-range-slider .ngrs-handle i,
.ngrs-range-slider .ngrs-join {
  cursor: default;
}


/* Facets Block */
.psgFacetsBlock {
  background: #fff;
  border:2px solid #000;
  display: none;
  position: absolute;
  z-index: 12;

}