.psg {
  margin: 0 auto;
  @include lato;
  @include scale(font-size, 12px);
  @include scale(margin-top, 60px);
  @include scale(max-width, 1024px);
  color: #47515b;
  position: relative;
  overflow-x: auto;
}


.psg-table {
  border: 2px solid #e3e4e8;
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: fixed;
  width: 100%;

  th, td {
    @include scale(width, 150px);
    @include background-clip(padding-box);
    border: 1px solid #e3e4e8;
  }

  th {
    @include scale(font-size, 14px);
    border-bottom: 2px solid #e3e4e8;
    background-color: #bec6cb;
    position: relative;
    vertical-align: top;
  }

  td {
    @include scale(padding, 10px);
    position: relative;
    a {
      color: #005696;
      text-decoration: none;
    }
  }

  tr {
    &:nth-child(2n + 1) td{
      background-color: #eaeff2;
    }
    &:nth-child(2n) td{
      background-color: #fff;
    }
  }
  th:first-child, td:first-child {
    @include scale(width, 195px);
    .psg-facet-body {
      @include scale(padding, 0 14px 14px);
    }
    .psg-facet-title {
      @include scale(min-height, 58px);
      text-align: center;
    }
  }
  // ------------------

  .psg-facet-top {
    @include scale(height, 23px);
    background: #b9bfc3;
    overflow: hidden;
    position: relative;
    text-align: center;
    /* Dragble */
    .draghandle {
      cursor: move;
      &:after {
        @include psg-icons;
        @include scale(font-size, 48px);
        @include scale(top, -12px);
        @extend %drag_icon;
        color: #fff;
        line-height: 100%;
        position: relative;
      }
    }

    /* Remove Facet */
    .removeFacet {
      cursor: pointer;
      position: absolute;
      @include scale(right, 4px);
      text-decoration: none;
      &:after {
        @include psg-icons;
        @include scale(font-size, 18px);
        @include scale(top, 2px);
        @extend %remove_icon;
        color: #fff;
        position: relative;
      }
    }
  }

  .psg-facet-body {
    @include scale(padding, 0 10px 14px);
    @include scale(min-height, 220px);
    position: relative;
    z-index: 3;
  }

  .psg-facet-title {
    @include scale(font-size, 14px);
    @include scale(padding-top, 6px);
    @include scale(min-height, 70px);
    color: #47515b;
    font-weight: bold;
  }

  .psg-total-count {
    @include scale(padding, 0 0 8px);
    @include scale(font-size, 24px);
    color: #005696;
    font-weight: bold;
    text-align: center;
  }

  .psg-order-block {
    padding: 0;
  }

  .psg-order {
    text-align: center;
    a {
      @include scale(padding, 8px);
      text-decoration: none;
      &:after {
        @include psg-icons;
        @include scale(font-size, 25px);
        color: #005696;
      }
      &.psg-order-asc:after {
        @extend %arrowup_icon;
      }
      &.psg-order-desc:after {
        @extend %arrowdown_icon;
        @include scale(top, -2px);
        position: relative;
      }
    }
  }

  .psg-result-number {
    color: #6b7d8e;
  }
}

/* PSG Buttons */
.psg-button {
  @include border-radius(4px);
  @include scale(font-size, 12px);
  @include scale(margin-bottom, 7px);
  @include scale(padding, 10px);
  background: #47515b;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  width: 100%;

  &.psg-toggle-params{
    background: #47515b;
  }
  &.psg-reset-filters{
    background: #005696;
    span {
      &:before {
        @include psg-icons;
        @include scale(font-size, 18px);
        //@include scale(line-height, 12px);
        @include scale(padding, 0 4px 0 0);
        @include scale(height, 15px);
        @include scale(top, 1px);
        @extend %reset_icon;
        color: #fff;
        display: inline-block;
        overflow: hidden;
        position: relative;
      }
    }
  }
  &.psg-compare-selected{
    background: #8d9600;
    span {
      &:before {
        @include psg-icons;
        @include scale(font-size, 14px);
        @include scale(padding, 0 4px 0 0);
        @extend %copy_icon;
        color: #fff;
        display: inline-block;
        position: relative;
        top: 1px;
      }
    }
    &.active {
      background: #b9c408;
    }
    &:disabled {
      @include opacity(.5);
    }
  }

  &.psg-reset-facets {
    background: #005696;
    span {
      &:before {
        @include psg-icons;
        @include scale(font-size, 11px);
        @include scale(padding, 0 4px 0 0);
        @extend %reset_icon;
        color: #fff;
        display: inline-block;
        overflow: hidden;
        position: relative;
        top: 1px;
      }
    }
  }

  &.psg-apply-facets {
    background: #8d9600;
    span {
      &:before {
        @include psg-icons;
        @include scale(font-size, 11px);
        @include scale(padding, 0 4px 0 0);
        @extend %check_icon;
        color: #fff;
        display: inline-block;
        position: relative;
        top: 1px;
      }
    }
  }
}


/* rangeSlider */
.ngrs-range-slider {
  @include border-radius(0);
  @include box-shadow(none);
  background: none;
  border: 0;
  &.ngrs-focus {
    @include box-shadow(none);
    background: none;
  }
}
.ngrs-range-slider.ngrs-vertical .ngrs-runner {
  @include scale(height, 125px);
  @include scale(width, 6px);
  margin: 0;
  @include scale(margin-left, 8px);
  background: #fff;
}
.ngrs-range-slider.ngrs-vertical {
  @include scale(width, 32px);
  margin: 0 auto;
}

.ngrs-range-slider.ngrs-vertical .ngrs-handle {
  @include scale(width, 22px);
}

.ngrs-range-slider.ngrs-vertical .ngrs-handle-min i,
.ngrs-range-slider.ngrs-vertical .ngrs-handle-max i {
  background: none;
}

.ngrs-range-slider .ngrs-join {
  background: #9fa4a8;
}

.ngrs-range-slider.ngrs-vertical .ngrs-join {
  @include scale(width, 6px);
  @include scale(margin, 0 0 0 -3px);
}

.ngrs-range-slider.ngrs-vertical .ngrs-handle {
  @include scale(height, 8px);
  @include scale(margin, -4px 0 0);
}

.ngrs-handle.ngrs-handle-min,
.ngrs-handle.ngrs-handle-max {
  left: -8px !important;
}

.ngrs-join {
  left: 50% !important;
  right: 50% !important;
}

.psg-range-slider-block {
  position: relative;
}

.psg-range-slider {
  float: left;
}
.psg-range-slider-input {
  @include scale(left, 40px);
  @include scale(width, 50px);
  border:1px solid #aab4b8;
  color: #47515b;
  background: #fff;
  position: absolute;
  text-align: center;
  &.psg-range-slider-input-min {
    @include scale(top, 4px);
  }
  &.psg-range-slider-input-max {
    @include scale(top, 108px);
  }
}

/* ------ psgFacets ------- */
.psg-facets-block {
  @include background-clip(padding-box);
  @include scale(padding, 10px 20px);
  @include scale(top, 20px);
  @include scale(width, 500px);
  background-color: #fff;
  border: 4px solid rgba(#000, 0.3);
  display: none;
  position: absolute;
  z-index: 12;

  h3 {
    @include scale(font-size, 16px);
    @include scale(padding, 6px 0 8px);
    color: #47515b;
    font-weight: bold;
  }
}

.psg-facets-wrapper {
  position: relative;
  .psg-facets-close {
    @include scale(padding, 4px);
    @include scale(right, -16px);
    @include scale(top, -6px);
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    z-index: 13;

    &:before {
      @include psg-icons;
      @include scale(font-size, 24px);
      @extend %remove_icon;
      color: #47515b;
    }
  }
}

.psg-facets-query {
  @include scale(padding, 0 0 12px);
  p {
    font-weight: bold;
  }
  span {
    @include scale(padding-right, 6px);
  }
}

.psg-facets {
  .psg-facets-column {
    display: inline-block;
    vertical-align: top;

    .psg-facets-column-title {
      @include scale(padding, 6px 10px);
      @include scale(font-size, 14px);
      @include scale(line-height, 14px);
      font-weight: bold;
    }

    ul {
      @include scale(width, 220px);
      @include scale(height, 200px);
      @include scale(padding, 5px 10px);
      list-style-type: none;
      overflow-y: auto;
    }

    li {
      @include scale(font-size, 12px);
      @include scale(line-height, 14px);
      @include scale(padding, 4px 8px);
      @include scale(margin, 4px 0);
      background: #bec6cb;
      cursor: pointer;
      font-weight: bold;
    }

    &.psg-facets-column-show {
      li {
        background: #bec6cb;
      }
    }
    &.psg-facets-column-hide {
      li {
        background: #d8e0e5;
      }
    }
  }
}

.psg-facets-bottom {
  @include scale(margin, 12px 0 0);
  font-size: 0;
  > div {
    @include scale(font-size, 12px);
    display: inline-block;
    text-align: center;
    width: 33%;
  }
  .psg-button {
    @include scale(padding, 5px 0);
    @include scale(font-size, 11px);
    @include scale(min-width, 120px);
    text-align: center;
    width: auto
  }
}

/* PSG product details */
.psg-product-details {
  @include background-clip(padding-box);
  @include scale(padding, 10px 20px);
  @include scale(top, 20px);
  @include scale(width, 350px);
  background-color: #fff;
  border: 2px solid rgba(#000, 0.3);
  color: #005696;
  display: none;
  left: 100%;
  position: absolute;
  z-index: 12;

  h3 {
    @include scale(font-size, 21px);
    @include scale(padding, 6px 0 8px);
    font-weight: normal;
  }

  ul {
    li {
      @include scale(padding, 8px 0);
    }
    a {
      @include scale(font-size, 18px);

      color: #005696;
      text-decoration: none;
      &:before {
        @include psg-icons;
        @include scale(font-size, 32px);
        @include scale(top, 6px);
        @include scale(padding-right, 8px);
        @include scale(width, 48px);
        display: inline-block;
        text-align: center;
        position: relative;
      }

      &.psg-product-det-datasheet {
        &:before {
          @extend %doc_icon;
        }
      }

      &.psg-product-det-info {
        &:before {
          @extend %info_icon;
        }
      }

      &.psg-product-det-buy {
        &:before {
          @extend %cart_icon;
        }
      }

      &.psg-product-det-tools {
        &:before {
          @extend %tools_icon;

        }
      }
    }
  }
}

.psg-product-det-wrapper {
  position: relative;
  .psg-product-det-close {
    @include scale(padding, 4px);
    @include scale(right, -16px);
    @include scale(top, -6px);
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    z-index: 13;

    &:before {
      @include psg-icons;
      @include scale(font-size, 18px);
      @extend %remove_icon;
      color: #a3a3a3;
    }
  }
}



/* Scrollable */
.psg-pretable {
  .scrollable {
    position: relative;
    overflow: scroll;
    .psg-table {
      margin-left: 151px;
      th, td {
        width: 250px;
        height: 100px;

        &:first-child {
          background: #fff;
          left: 0;
          margin: 0;
          padding: 0;
          position: absolute;
          width: 150px;
        }
      }

      th:first-child {
        background: #ccc;
      }
    }
  }

}




/* RangeSlider */

.ngrs-range-slider .ngrs-runner,
.ngrs-range-slider .ngrs-handle,
.ngrs-range-slider .ngrs-handle i,
.ngrs-range-slider .ngrs-join {
  cursor: default;
}
