.psgTable {
  /*border: 1px solid #000;*/
  border-collapse: collapse;
  margin: 60px auto 0;
  table-layout: fixed;
  width: 100%
}

.psgTable th,
.psgTable td {
  border: 1px solid #000;
  padding: 10px;
}

.psgTable th {
  background: #ccc;
}

/* rangeSlider */
.ngrs-handle.ngrs-handle-min,
.ngrs-handle.ngrs-handle-max {
  left: auto !important;
}

.ngrs-handle.ngrs-handle-max {

}

.ngrs-join {
  left: 50% !important;
  right: 50% !important;
}
